body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
}

.container {
    background-color: #fff;
    width: 600px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

    .container input,
    .container select {
        width: 100%;
        padding: 6px;
        margin-top: 5px;
    }

        .container button,
        .container input[type="submit"] {
            padding: 8px 15px;
            border: none;
            background-color: #ff9800;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

            .container button:hover,
            .container input[type="submit"]:hover {
                background-color: #e68900;
            }

.repeater-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
